<section>
  <section class="text-center max-w-8xl mx-auto py-24 px-6">
    <img src="/nitrovim-text.svg" alt="">
    <div class="flex justify-center">
      <p class="text-xl text-white mt-6 max-w-5xl">
        NitroVim is a modern, fast, and fully customizable Neovim distribution designed to boost developer productivity out-of-the-box. It comes preconfigured with LSP, autocompletion, snippets, file explorer, fuzzy finder, Git integration, themes, transparency, and more.
      </p>
    </div>

    <div class="mt-8 flex justify-center gap-4">
      <a href="https://github.com/NitroVim/NitroVim"
        target="_blank"
        class="bg-white text-[#222222] px-6 py-3 rounded-lg font-medium hover:scale-[1.1] transition-all">
        Get started
      </a>
      <a href="https://github.com/NitroVim/NitroVim" target="_blank" class="text-white px-6 py-3 font-medium hover:underline">Learn more →</a>
    </div>
  </section>

  <section class="flex justify-center items-center px-6 pb-24">
    <div class="rounded-3xl bg-gray-900 shadow-2xl max-w-8xl w-full overflow-hidden">
      <img 
        src="/app.png" 
        alt="App Screenshot" 
        class="w-full h-auto object-cover"
      />
    </div>
  </section>
</section>
