---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/common/Navbar.astro';
import '../styles/global.css';
import Home from '../components/sections/Home.astro';
import Features from '../components/sections/Features.astro';
---

<Layout>

<main class="bg-linear-135 from-[#0051b3] to-[#003580]">
  <Navbar />
  <Home />
    <Features />
  </main>
</Layout>
