---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/common/Navbar.astro';
import '../styles/global.css';
import Home from '../components/sections/Home.astro';
import Features from '../components/sections/Features.astro';
import Footer from '../components/common/Footer.astro';
import Updates from '../components/sections/Updates.astro';
import Themes from '../components/sections/Themes.astro';
---

<Layout>
  <main class="bg-[#1a1a1a]">
      <Navbar />
      <Home />
      <Themes />
      <Features />
      <Updates />
      <Footer />
  </main>
</Layout>
