<footer class="py-10 px-6 bg-[#FC485033] backdrop-blur-xl border-t border-white/10 text-white">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center">
    
    <div class="flex space-x-6 mb-6 md:mb-0">
      <a href="https://github.com/NitroVim" 
         class="px-4 py-2 bg-white/10 rounded-md hover:bg-[#FC4850] hover:text-white transition-all duration-300 font-medium">
         GitHub
      </a>
      <a href="https://x.com/usmonovdev" 
         class="px-4 py-2 bg-white/10 rounded-md hover:bg-[#FC4850] hover:text-white transition-all duration-300 font-medium">
         X
      </a>
      <a href="https://www.linkedin.com/company/nitrobrain" 
         class="px-4 py-2 bg-white/10 rounded-md hover:bg-[#FC4850] hover:text-white transition-all duration-300 font-medium">
         LinkedIn
      </a>
    </div>

    <p class="text-gray-300 text-sm md:text-base text-center md:text-left">
      &copy; 2025 <b>NitroBrain</b>. All rights reserved.
    </p>
  </div>
</footer>
