<footer class="py-8 px-6 bg-blue-500/30 backdrop-blur-xl border-t border-white/10 text-white">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center">
    <div class="flex space-x-6 mb-4 md:mb-0">
      <a href="https://github.com/NitroVim" class="text-gray-300 hover:text-blue-400 transition-colors duration-300 text-lg">GitHub</a>
      <a href="https://x.com/usmonovdev" class="text-gray-300 hover:text-blue-400 transition-colors duration-300 text-lg">Twitter</a>
      <a href="https://www.linkedin.com/in/usmonovshohruxmirzo" class="text-gray-300 hover:text-blue-400 transition-colors duration-300 text-lg">LinkedIn</a>
    </div>
<p class="text-gray-300 text-base">&copy; 2025 <b>Webbro Software.</b> All rights reserved.</p>
  </div>
</footer>
