<header>
  <nav>
    <ul>
      <li>
        <a class="bg-amber-100" href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
      </li>
    </ul>
  </nav>
</header>
